[project]
	description = Repositorio Easytec Windows
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/juanvieasytec
[access "refs/for/refs/*"]
	read = group user/juanvieasytec
	push = group user/juanvieasytec
	label-Code-Review = -2..+2 group user/juanvieasytec
	label-Verified = -1..+1 group user/juanvieasytec
	rebase = group user/juanvieasytec
	removeReviewer = group user/juanvieasytec
	submit = group user/juanvieasytec
[access "refs/heads/*"]
	read = group user/juanvieasytec
	create = group user/juanvieasytec
	push = +force group user/juanvieasytec
	pushMerge = group user/juanvieasytec
[access "refs/tags/*"]
	push = group user/juanvieasytec
	push = +force group user/juanvieasytec
